name: Create release from master

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: windows-latest
    continue-on-error: true
    steps:

    - uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: 16.x
        cache: 'yarn'

    - run: yarn install --frozen-lockfile

    - run: yarn run package

    - uses: ncipollo/release-action@v1
      with:
        artifacts: "release/*.exe,release/*.zip,release/latest.yml,release/*.blockmap"
        token: ${{ secrets.GITHUB_TOKEN }}
        commit: master
        tag: test-release-0
        prerelease: true
        allowUpdates: true
